/* Tablet & Mobile & PC */
@media (min-width: 576px) {
    .hide-on-pc-table {
        display: none;
    }

    .menu-mobile,
    .menu-on-mobile {
        display: none;
    }
}

/* Tablet & Mobile*/
@media (max-width: 991.98px) {
}

/* Tablet */
@media (min-width: 576px) and (max-width: 991.98px) {
}

/* Mobile */
@media (max-width: 575.98px) {
    .hide-on-mobile {
        display: none;
    }

    .btn {
        width: 147px;
        height: 55px;
    }

    .header-inner {
        max-width: calc(100% - 14px);
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        flex-direction: row-reverse;
        border-bottom: 1px solid #d6d3e2;
    }
    .header__email,
    .nav {
        display: none;
    }

    .menu-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 46px;
        height: 46px;
        border: 1px solid #5d3bee33;
        border-radius: 50%;
        margin-right: 10px;
    }

    .menu-mobile:hover svg,
    .menu-close:hover svg {
        color: #5d3bee;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        visibility: hidden;
        opacity: 0;
        transition: 0.5s ease;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 20% 0 0;
        background: #fff;
        z-index: 1;
        padding: 20px 30px;
        transform: translateX(-100%);
        transition: 0.5s ease;
    }

    #menu-check:checked ~ .menu-overlay {
        visibility: visible;
        opacity: 1;
    }

    #menu-check:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .menu-drawer__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu-close {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 1px solid #5d3bee33;
    }

    .menu-drawer .nav-list {
        flex-direction: column;
    }

    .menu-drawer .nav__link {
        display: block;
        font-size: 1.8rem;
        line-height: 1.3;
        color: #51586a;
        padding: 15px 21px;
    }

    .hero__inner {
        flex-direction: column-reverse;
        padding: 0 20px;
    }

    .hero__info {
        width: 100%;
    }

    .hero__title {
        width: 260px;
        font-size: 4.2rem;
        line-height: 1.19;
    }

    .hero__desc {
        width: 100%;
        font-size: 1.6rem;
        line-height: 1.62;
        margin-bottom: 30px;
    }

    .hero__cta {
        font-size: 1.6rem;
        line-height: 1.88;
        margin-left: 40px;
    }

    .hero__media {
        width: 100%;
        height: 100%;
    }

    .client-heading {
        width: 169px;
        text-align: center;
        margin: 0 auto;
        font-size: 2.8rem;
        line-height: 1.21;
    }

    .client-heading::before {
        width: 48px;
        border-width: 1px;
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
    }

    .client-list {
        margin-right: 0;
        margin-top: 42px;
        grid-template-columns: 1fr 1fr;
        padding: 0 22px;
    }

    .client-list img:nth-child(even) {
        justify-self: center;
    }
    .client-list img:nth-child(odd) {
        justify-self: left;
    }

    .hero-follow {
        display: flex;
        align-items: center;
        margin: 25px 0 20px;
    }

    .hero-follow__text {
        margin-right: 10px;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.43;
        color: #51586a;
    }

    .hero-follow__img-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 31px;
        height: 31px;
        border-radius: 50%;
        border: 1px solid #161a1c33;
    }

    .hero-follow__img-wrap + .hero-follow__img-wrap {
        margin-left: 15px;
    }

    .client-list a:nth-of-type(even) {
        justify-self: center;
    }
    /* specialities */
    .specialities .container {
        position: relative;
        overflow: hidden;
    }

    .specialities__list {
        width: 300%;
        overflow: hidden;
        gap: 0;
        transition: 0.5s ease;
        margin-bottom: 24px;
    }

    .specialities__item {
        padding: 0 70px;
        width: 100%;
    }

    .specialities__desc {
        width: 100%;
        margin-bottom: 18px;
    }

    .specialities__item {
        width: 100%;
    }

    .specialities__item-desc {
        width: 250px;
    }

    .specialities__control {
        position: absolute;
        padding: 6px 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        column-gap: 15px;
        margin-top: 30px;
    }

    .specialities__control label {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #080415;
        opacity: 0.2;
    }

    .specialities__control label:hover {
        cursor: pointer;
        background: #5d3bee;
        opacity: 1;
        outline: 2px solid #5d3bee;
        outline-offset: 3px;
    }

    #specialitie-01:checked ~ .specialities__list {
        margin-left: 0;
    }
    #specialitie-02:checked ~ .specialities__list {
        margin-left: -100%;
    }
    #specialitie-03:checked ~ .specialities__list {
        margin-left: -200%;
    }

    /* MY PROJECT */
    .project {
        margin-top: 120px;
        padding-bottom: 60px;
    }

    .project .container {
        padding: 0 20px;
    }

    .project__top {
        gap: 0;
        flex-direction: column;
    }
    .project__heading {
        width: 100%;
        font-size: 3.6rem;
        text-align: center;
    }
    .project__desc {
        width: 100%;
        font-size: 1.6rem;
        margin: 20px auto 0;
        text-align: center;
    }

    .project-item {
        column-gap: 22px;
        padding: 20px 15px;
    }

    .project-item__title {
        font-size: 2.4rem;
    }

    .project-item__desc {
        margin: 4px 0;
        font-size: 1.4rem;
    }

    .project-item__link {
        font-size: 1.6rem;
    }

    .project-item__img {
        width: 122px;
        height: 93px;
    }

    .project__btn {
        width: 154px;
        height: 56px;
        font-size: 1.6rem;
        margin-top: 50px;
    }

    .project__list .row-cols-md-2:last-of-type {
        margin-top: 20px;
    }

    .project__list .row .col:last-child {
        margin-top: 20px;
    }

    .project-item__decor {
        display: none;
    }

    /* ABOUT */
    .about {
        margin-top: 120px;
    }

    .about .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .about__sub-heading {
        font-size: 2rem;
    }

    .about__heading {
        font-size: 3.6rem;
        margin-bottom: 20px;
    }

    .about__desc {
        width: 100%;
        font-size: 1.6rem;
    }

    .about__body {
        column-gap: 50px;
        padding: 30px 36px;
    }

    .about__qty {
        font-size: 3rem;
        text-decoration-thickness: 1px;
        text-underline-offset: 4px;
    }

    .about__body-item:nth-child(2) .about__body-text {
        width: 83px;
    }

    .about__body-text {
        font-size: 1.6rem;
    }

    .about__btn-play {
        width: 77px;
        height: 77px;
    }

    .about__intro-video {
        width: 118px;
        height: 44px;
        font-size: 1.2rem;
    }

    /* PEOPLE */

    .people-say {
        margin-top: 120px;
    }

    .people-say .container {
        padding-bottom: 67px;
    }

    .people-item__heading {
        font-size: 3.6rem;
    }

    .people-item__desc {
        width: 100%;
        font-size: 1.6rem;
        margin-bottom: 40px;
    }

    .people-item {
        padding: 0 20px;
    }

    .people-item__say {
        width: 100%;
        font-size: 1.8rem;
    }

    .people-item {
        text-align: center;
        width: 20%;
        padding: 0 20px;
    }

    .people-say__decor {
        display: none;
    }

    .people-item__name {
        font-size: 2.4rem;
    }

    /* QUESTION */
    .question {
        margin-top: 140px;
    }

    .question .container {
        padding: 0 10px;
    }

    .question__heading {
        font-size: 3.6em;
        margin: 0 0 40px 20px;
    }

    .questions__title {
        font-size: 2.4rem;
        width: 264px;
    }

    .question__item-desc {
        font-size: 1.6rem;
        width: 316px;
    }

    .question__icon-wrap {
        width: 33px;
        height: 33px;
        flex-shrink: 0;
    }

    .question__icon {
        width: 9px;
        height: 9px;
    }

    /* ATMOSPHERE */

    .atmosphere__heading {
        font-size: 3.6rem;
    }

    .atmosphere__desc {
        width: 100%;
        margin: 20px auto 10px;
        font-size: 1.6rem;
    }

    .atmosphere__mail {
        font-size: 2rem;
    }

    .atmosphere__show-list {
        overflow: hidden;
    }

    .atmosphere__list {
        width: 300%;
        gap: 0;
        transition: 0.5s ease;
    }

    .atmosphere__img-wrap {
        height: 503px;
    }

    .atmosphere__img {
        width: 100%;
        padding: 0 20px;
    }

    .atmosphere__control {
        display: flex;
        justify-content: center;
        column-gap: 15px;
        margin-top: 30px;
        padding: 6px 0;
    }

    .atmosphere__control label {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #080415;
        opacity: 0.2;
    }

    .atmosphere__control label:hover {
        cursor: pointer;
        background: #5d3bee;
        opacity: 1;
        outline: 2px solid #5d3bee;
        outline-offset: 3px;
    }

    #atmosphere-01:checked ~ .atmosphere__list {
        margin-left: 0;
    }
    #atmosphere-02:checked ~ .atmosphere__list {
        margin-left: -100%;
    }
    #atmosphere-03:checked ~ .atmosphere__list {
        margin-left: -200%;
    }

    /* CTA */
    .cta {
        margin-top: 120px;
        padding: 35px 22px;
    }

    .cta .cta__inner {
        width: 100%;
    }

    .cta__heading {
        font-size: 3.6rem;
        width: 225px;
        margin: 0 auto 10px;
    }

    .cta__desc {
        font-size: 1.6rem;
        width: 100%;
    }

    .cta__btn {
        font-size: 1.6rem;
    }

    .cta__decor-on-mobile {
        width: 100%;
    }

    /* FOOTER MOBILE */
    .footer-on-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-on-mobile .nav {
        display: block;
        margin: 20px 0 58px;
    }

    .footer-on-mobile .nav__link {
        font-size: 1.6rem;
        padding: 15px 10px;
    }

    .footer-on-mobile .header__email {
        display: block;
    }

    .footer__bottom {
        position: relative;
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 50px;
        margin-top: 0;
    }

    .footer__bottom-right {
        margin-top: 50px;
    }

    .line-on-mobile {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 50px;
        background-color: #0c0720;
        height: 1px;
    }
}

@media (max-width: 320px) {
    .client-list {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .client .col-sm-12 {
        width: 100%;
    }

    .specialities__item {
        padding: 0 20px;
    }

    .questions__title {
        font-size: 2rem;
    }

    .questions__title {
        width: 200px;
    }

    .atmosphere__top {
        padding: 0 20px;
    }

    .footer__bottom-right p,
    .footer__coppyright {
        font-size: 1.4rem;
    }
}
