*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

body {
    font-size: 1.6rem;
}

a,
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

a,
button {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.btn {
    cursor: pointer;
    outline: none;
    border: none;
    width: 170px;
    height: 62px;
    background: #5d3bee;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #fdfdfd;
}

.btn:hover {
    opacity: 0.9;
}

/* HEADER */
.header {
    height: 100px;
    margin-top: 10px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1330px;
    margin-left: auto;
    margin-right: auto;
}

.header__email-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__email {
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 1.36;
    color: #080415;
}

.header__icon-email {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border: 1px solid #5d3bee33;
    border-radius: 50%;
    margin-right: 10px;
}

.nav-list {
    display: flex;
}

.nav__link {
    font-size: 1.8rem;
    line-height: 1.3;
    color: #51586a;
    padding: 15px 21px;
}

.nav__link:hover {
    text-shadow: 1px 0 0 currentColor;
}

/* HERO */
.hero {
    margin-top: 44px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__media {
    width: 514px;
    height: 705px;
    object-fit: cover;
}

.hero__info {
    width: 500px;
}

.hero__title {
    font-weight: 500;
    font-size: 8rem;
    line-height: 0.95;
    letter-spacing: -0.04em;
    color: #080415;
}

.hero__desc {
    width: 370px;
    margin: 20px 0 50px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #51586a;
}

.hero__row {
    display: flex;
    align-items: center;
}

.hero__cta {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.67;
    text-decoration-line: underline;
    color: #080415;
    margin-left: 30px;
}

/* CLIENT */
.client {
    margin-top: 98px;
}

.client .row {
    align-items: center;
    margin-left: 0;
    margin-right: 0;
}

.client-heading {
    position: relative;
    width: 253px;
    font-family: "DM Sans";
    font-weight: 500;
    font-size: 4.2rem;
    line-height: 1.19;
    letter-spacing: -0.04em;
    color: #080415;
}

.client-heading::before {
    --width: 86px;
    content: "";
    position: absolute;
    top: 22px;
    left: calc(-1 * (var(--width) + 13px));
    display: block;
    width: var(--width);
    border: 2px solid #5d3bee;
}
.client-list {
    display: grid;
    row-gap: 36px;
    grid-template-columns: 1fr 1.5fr auto 1fr;
    margin-right: -15px;
}

.client__item:nth-child(4),
.client__item:nth-child(8) {
    justify-self: end;
}

/* SPECIALITIES */
.specialities {
    margin-top: 133px;
}

.specialities__heading {
    font-weight: 500;
    font-size: 5.6rem;
    line-height: 1.18;
    letter-spacing: -0.04em;
    color: #080415;
    text-align: center;
}

.specialities__desc {
    width: 534px;
    margin: 20px auto 60px;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: #51586a;
}

.specialities__item {
    padding: 32px 42px;
}

.specialities__img-wrap {
    position: relative;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: 1px solid #0804150d;
}

.specialities__img {
    position: absolute;
    top: 12px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.specialities__title {
    margin: 22px 0 15px;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 1.25;
    letter-spacing: -0.04em;
    color: #080415;
}

.specialities__item-desc {
    font-size: 1.8rem;
    line-height: 1.67;
    color: #51586a;
}

/* PROJECT */
.project {
    margin-top: 140px;
    width: 100%;
    background: #5d3bee;
    padding: 86px 0;
}

.project__top {
    display: flex;
    align-items: center;
    gap: 160px;
}

.project__heading {
    width: 468px;
    font-weight: 500;
    font-size: 5.6rem;
    line-height: 1.18;
    letter-spacing: -0.04em;
    color: #fff;
}

.project__desc {
    width: 370px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #fff;
    opacity: 0.7;
}

.project__list {
    margin-top: 70px;
}

.project-item {
    position: relative;
    display: flex;
    align-items: center;
    background: #fbfaff;
    width: 100%;
    padding: 24px 24px 24px 34px;
}

.project-item__title {
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 1.25;
    letter-spacing: -0.04em;
    color: #080415;
}

.project-item__desc {
    margin: 10px 0 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.44;
    color: #51586a;
}

.project-item__link {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.67;
    text-decoration-line: underline;
    color: #080415;
}

.project-item__img {
    position: relative;
    width: 246px;
    height: 187px;
    object-fit: cover;
}

.project__list .row-cols-2:last-of-type {
    margin-top: 30px;
}

.project__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px auto 0;
    background: #fff;
    color: #080415;
}

.project-item__decor {
    position: absolute;
    top: 6px;
    left: 167px;
}

/* ABOUT */
.about {
    margin-top: 140px;
}

.about__header {
    text-align: center;
}

.about__sub-heading {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.04em;
    color: #5d3bee;
}

.about__heading {
    margin: 10px 0 15px;
    font-weight: 500;
    font-size: 56px;
    line-height: 1.18;
    letter-spacing: -0.04em;
    color: #080415;
}

.about__desc {
    width: 570px;
    margin: 0 auto;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: #51586a;
}

.about__body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #51586a;
    border-left: none;
    border-right: none;
    margin: 70px 0;
    padding: 20px 0;
}

.about__body-item .about__qty {
    font-weight: 500;
    font-size: 5.6rem;
    line-height: 1.36;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
    color: #080415;
}

.about__body-text {
    margin-top: 8px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #51586a;
}

.about__media {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.about__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.about__video[poster] {
    height: 100%;
}

.about__btn-play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 111px;
    height: 111px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
    cursor: pointer;
}

.about__intro-video {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 25px;
    right: 10px;
    width: 170px;
    height: 62px;
    background: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #51586a;
}

/* PEOPLE SAY */
.people-say {
    margin-top: 140px;
}

.people-say .container {
    overflow: hidden;
    padding-bottom: 74px;
}

.people-top {
    text-align: center;
}

.people-item__heading {
    font-weight: 500;
    font-size: 5.6rem;
    line-height: 1.18;
    letter-spacing: -0.04em;
    color: #080415;
}

.people-item__desc {
    width: 570px;
    margin: 20px auto 60px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #51586a;
}

.people-say__list {
    position: relative;
    display: flex;
    margin-bottom: 40px;
    transition: 0.4s ease-out;
    width: 500%;
}

.people-item {
    text-align: center;
    width: 20%;
}

.people-item__say {
    width: 679px;
    margin: 0 auto;
    font-size: 2.4rem;
    line-height: 1.67;
    color: #51586a;
}

.people-item__info {
    margin-top: 36px;
}

.people-item__info .row {
    justify-content: center;
    gap: 15px;
}

.people-item__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.people-item__name {
    font-weight: 500;
    font-size: 3rem;
    line-height: 1.33;
    text-align: center;
    color: #080415;
}

.people-item__job {
    margin-top: 3px;
    font-size: 1.6rem;
    line-height: 1.81;
    color: #51586a;
}

.people-say__control {
    display: flex;
    justify-content: center;
    column-gap: 15px;
}

.people-say__control label {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #080415;
    opacity: 0.2;
}

.people-say__control label:hover {
    cursor: pointer;
    background: #5d3bee;
    opacity: 1;
    outline: 2px solid #5d3bee;
    outline-offset: 3px;
}

#people-say-01:checked ~ .people-say__list {
    margin-left: 0;
}

#people-say-02:checked ~ .people-say__list {
    margin-left: -100%;
}

#people-say-03:checked ~ .people-say__list {
    margin-left: -200%;
}

#people-say-04:checked ~ .people-say__list {
    margin-left: -300%;
}

#people-say-05:checked ~ .people-say__list {
    margin-left: -400%;
}

/* QUESTION */
.question {
    margin-top: 95px;
}

.question__heading {
    font-weight: 500;
    font-size: 5.6rem;
    line-height: 1.18;
    letter-spacing: -0.04em;
    color: #080415;
    margin-bottom: 80px;
}

.question__item-inner {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #08182f;
    padding: 0 0 33px 22px;
}

.questions__title {
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 1.25;
    letter-spacing: -0.04em;
    color: #080415;
    cursor: pointer;
}

.question__item-desc {
    display: none;
    margin-top: 23px;
    width: 487px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #51586a;
}

.question__item + .question__item {
    margin-top: 60px;
}

.question__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #161a1c33;
    cursor: pointer;
}

.question__icon {
    width: 14px;
    height: 14px;
}

#question__control:checked,
#question__control-02:checked,
#question__control-03:checked,
#question__control-04:checked,
#question__control-05:checked ~ .question__item-inner {
    border-color: #5d3bee;
    padding-bottom: 21px;
}

#question__control:checked ~ .question__item-inner .question__item-desc,
#question__control-02:checked ~ .question__item-inner .question__item-desc,
#question__control-03:checked ~ .question__item-inner .question__item-desc,
#question__control-04:checked ~ .question__item-inner .question__item-desc,
#question__control-05:checked ~ .question__item-inner .question__item-desc {
    display: block;
}

#question__control:checked,
#question__control-02:checked,
#question__control-03:checked,
#question__control-04:checked,
#question__control-05:checked ~ .question__item-inner .questions__title {
    color: #5d3bee;
}

#question__control:checked ~ .question__item-inner label .question__icon-more,
#question__control-02:checked
    ~ .question__item-inner
    label
    .question__icon-more,
#question__control-03:checked
    ~ .question__item-inner
    label
    .question__icon-more,
#question__control-04:checked
    ~ .question__item-inner
    label
    .question__icon-more,
#question__control-05:checked
    ~ .question__item-inner
    label
    .question__icon-more {
    display: none;
}

#question__control:checked ~ .question__item-inner label .question__icon-munus,
#question__control-02:checked
    ~ .question__item-inner
    label
    .question__icon-munus,
#question__control-03:checked
    ~ .question__item-inner
    label
    .question__icon-munus,
#question__control-04:checked
    ~ .question__item-inner
    label
    .question__icon-munus,
#question__control-05:checked
    ~ .question__item-inner
    label
    .question__icon-munus {
    display: block;
}
